## VISUAL STUDIO ##
*.nupkg
extension/packages/*
extension/bin/*
extension/obj/*
extension/.vs/*

## WEB FILES ##
web/data/
web/images/maps/

## ADDON ##
@ocap/addons/*.pbo
web/node_modules
web/.idea

