.container {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: smaller;
}

.side {
  line-height: 2em;
}

.groupList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.group {
  padding-left: 0.5em;
  line-height: 2em;
}

.unitList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.unit {
  padding-left: 1em;
  line-height: 2em;
}

.unit.dead {
  color: #666;
}

.unit:hover {
  background-color: rgba(205,134,20,0.9);
}

.unitSymbol {
  padding-left: 0.25em;
}