.container {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: smaller;
}

.header {
  text-align: center;
  padding: 0.5em;
}

.settings {

}

.side {
  line-height: 2em;
}

.groupList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.group {
  padding-left: 0.5em;
  line-height: 2em;
}

.unitList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.unit {
  padding-left: 1em;
  line-height: 2em;
}

.unit.dead {
  color: #aaaaaa;
}

.unit:hover {
  background-color: rgba(205,134,20,0.9);
}

.unitSymbol {
  padding-left: 0.25em;
}

.sideName {
  padding-left: 0.5em;
  text-transform: uppercase;
  font-size: larger;
  font-weight: bold;
}

.sideName.east {
  color: rgb(128, 0, 0);
}

.sideName.west {
  color: rgb(0, 77, 153);
}

.sideName.ind {
  color: rgb(0, 128, 0);
}

.sideName.civ {
  color: rgb(102, 0, 128);
}
