.topPanel h1 {
  margin: 0 auto;
  text-align: center;
}

.container {
  z-index: 100;
}

/*easy way of setting background-color*/
.topPanel, .bottomPanel, .leftPanel, .rightPanel {
  background-color: rgba(0, 10, 0, .8);
}

.leftPanel {
  position: absolute;
  left: 0;
  top: 40px;
  width: 192px;
  height: calc(100% - 40px - 40px);
  border-bottom: 1px darkGray solid;
}

.rightPanel {
  position: absolute;
  right: 0;
  top: 40px;
  width: 384px;
  height: 512px;

}

.topPanel {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;

}

.bottomPanel {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  line-height: 2.5em;

}

.watermark {
  position: absolute;
  z-index: 1;
  opacity: .4;
  right: 0;
  bottom: 40px;
  background: url("images/cnto-logo.png") center no-repeat;
  background-size: 70px auto;
  width: 80px;
  height: 60px;
}

.logo {
  background: url("images/cntr-logo.png") center no-repeat;
  background-size: 70px auto;
  width: 192px;
  height: 40px;
}

.button {
  -webkit-appearance: none;

  width: 40px;
  height: 40px;

  border: none;
}

.button:focus {
  box-shadow: none;
}

.loadCaptureButton {
  background: url("images/icons/folder.png") center no-repeat;
  background-size: 24px 24px;
}

.infoButton {
  background: url("images/icons/info.png") center no-repeat;
  background-size: 24px 24px;
}

.loadMapButton {
  background: url("images/icons/map.png") center no-repeat;
  background-size: 24px 24px;
}

.showCuratorsButton {
  background: url("images/icons/curators-invisible.png") center no-repeat;
  background-size: 24px 24px;
}

.hideCuratorsButton {
  background: url("images/icons/curators-visible.png") center no-repeat;
  background-size: 24px 24px;
}