.mapList {
  border-collapse: collapse;
  border: none;
  width: 100%;
}

.mapListHeader {
  background-color: rgba(0,0,0,0.7);
  padding: 0 1em;
  font-weight: 500;
  text-align: left;
}

.mapListBody {

}

.mapListItem {
  padding: 0 1em;
  text-align: right;
}

.mapListItem:hover {
  background-color: rgba(205,134,20,0.9);
}
