.captureList {
  border-collapse: collapse;
  border: none;
  margin-right: 8px;
}

.captureListHeader {
  background-color: rgba(0,0,0,0.7);
  padding: 0 1em;
  font-weight: 500;
  text-align: center;
}

.captureListHeaderItem {
  padding: 0 0.5em;
}

.captureListBody {

}

.captureListItem {
  text-align: right;
}

.captureListItem:hover {
  background-color: rgba(205,134,20,0.9);
}

.captureListItemProperty {
  padding: 0 0.5em;
}

.captureListItemLink {
  display: inline-block;
  width: 2.5em;
  height: 1em;
  background: url('images/icons/link.png') center no-repeat;
  background-size: 1em auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  transform: translate(-50%, -50%);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: .75rem solid rgba(255, 255, 255, 0.5);
  border-top-color: rgba(255, 255, 255, 1);
  animation: spin 2s infinite linear;
}

.loadingContainer {
  position: absolute;
  top: 32px;
  left: 0;
  width: 100%;
  height: calc(100% - 32px);
  background: rgba(0, 0, 0, 0.7);
}
