.container {
  display: flex;
  flex-direction: row;
  padding: 0 0.5em;
}

.playButton {
  position: relative;
  background-image: url("images/play-pause.png");
  background-position: 100% 0;
  height: 16px;
  width: 16px;
  background-size: auto 16px;
  top: 4px;
  margin: 0 0.5em;

  flex-grow: 0;
  flex-shrink: 0;
}

.playButton.paused {
  background-position: 0 0;
}

.timeDisplay {
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0 0.5em;
}

.slider {
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0 0.5em;
}