.container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 0.5em;
}

.listContainer {
  flex-grow: 1;
  overflow: scroll;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: smaller;
  padding-left: 0.5em;
}

.settings {

}

.collapseButton {
}

.side {
  line-height: 2em;
}

.groupList {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 0.75em;
}

.groupList.open {
  display: block;
}

.group {
  line-height: 2em;
}

.groupName {
  padding-left: 0.5em;
}

.unitList {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 1em;
}

.unitList.open {
  display: block;
}

.unit {
  line-height: 2em;
}

.unit.dead {
  color: #aaaaaa;
}

.unit:hover {
  background-color: rgba(205,134,20,0.9);
}

.unitSymbol {
  padding-left: 0.25em;
}


.sideName {
  padding-left: 0.5em;
  text-transform: uppercase;
  font-size: larger;
  font-weight: bold;
}

.east {
  font-weight: 500;
  color: rgb(255, 0, 0);
}

.west {
  font-weight: 500;
  color: rgb(0, 150, 255);
}

.guer {
  font-weight: 500;
  color: rgb(0, 255, 0);
}

.civ {
  font-weight: 500;
  color: rgb(214, 0, 255);
}
